/*Estilo del container ajustandolo en el centro*/
.container {
    display: flex;
   justify-content: center;
}

/*Estilo de la card*/
.card {
    width: 90%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    position: relative;
}
.image {
    position: relative;
    width: 100%;
    height: 200px; /* Ajusta esta altura según tus necesidades */
    overflow: hidden;
  }
  
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto hace que la imagen cubra el área sin distorsionarse */
  }
  
  .image-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .image-dark:hover{
    background: rgba(0, 0, 0, 0.4);
  }

.image:hover .btn{
    opacity: 1;
}

.btn {
    background: transparent;
    border: solid 1px white;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 10px;
    margin: 20px;
}

.btn:hover{
    color: black;
    background-color: white;
}


.card:hover .image {
    background-color: #33333378;
}
.card:hover .buttons {
    opacity: 1;
}
.content {
    padding: 15px;
}
.tags {
    margin-top: 10px;
}
.tags span {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
}