.containerForm{
    margin-top: 6rem;
    width: 50%;
}

.titleContact{
    align-items: flex-start;
    display: flex;
    margin-left: 2rem;
}

.NameMail{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.LbInfo{
display: flex;
justify-content: center;
flex-direction: column;
align-items: flex-start;
font-weight: bold;
margin-bottom: -1rem;
}


.personal{
    width: 300px;
    height: 4vh;
}

.subject{
margin-left: 1.8rem;
    width: 41.5rem;
    height: 4vh;
    margin-bottom:4rem;
}

.message{
    margin-left: 1.8rem;
    width: 41.5rem;
    height: 15vh;
    margin-bottom:2rem;
}

.PInfo{
    margin-left: 2rem;
}

.SubmitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 41.5rem;
    margin-left: 2rem;
    border-radius: 30px;
    height: 3rem;
    background-color: black;
    color: white;

}

.send{
    padding: 20px;
}

  /*Manejo de estilos del placeholder*/
  
  input::placeholder{
    text-indent: 10px;
  }

  textarea::placeholder{
    text-indent: 10px;
    padding-top: 6px;
  }

  /* Para tablets */
@media screen and (max-width: 1024px) {
    .containerForm {
        width: 70%;
    }

    .NameMail {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .personal, .subject, .message, .SubmitButton {
        width: 60rem;
        max-width: 35rem;
        margin-left: 0;
    }
}


/* Para Moviles */
@media screen and (max-width: 480px) {
    .containerForm {
        width: 100%;
        margin-top: 3rem;
    }

    .titleContact {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    .NameMail {
        width: 100%;
        flex-direction: column;
        gap: 0.5rem;
    }

    .personal{
        width: 331px;
    }

    .message,.subject {
        width: 85%;
        margin-left: 1.9rem;
    }

    .SubmitButton{
        width: 90%;
        margin-left: 1.3rem;
        height: 2.5rem;
        margin-bottom: 2rem;
    }

    
}
