.containerForm{
    margin-top: 6rem;
    width: 50%;
}

.titleContact{
    align-items: flex-start;
    display: flex;
    margin-left: 2rem;
}

.NameMail{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.LbInfo{
display: flex;
justify-content: center;
flex-direction: column;
align-items: flex-start;
font-weight: bold;
margin-bottom: -1rem;
}


.personal{
    width: 300px;
    height: 4vh;
}

.subject{
margin-left: 1.8rem;
    width: 41.5rem;
    height: 4vh;
    margin-bottom:4rem;
}

.message{
    margin-left: 1.8rem;
    width: 41.5rem;
    height: 15vh;
    margin-bottom:2rem;
}

.PInfo{
    margin-left: 2rem;
}

.SubmitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 41.5rem;
    margin-left: 2rem;
    border-radius: 30px;
    height: 3rem;
    background-color: black;
    color: white;

}

.send{
    padding: 20px;
}

  /*Manejo de estilos del placeholder*/
  
  input::placeholder{
    text-indent: 10px;
  }

  textarea::placeholder{
    text-indent: 10px;
    padding-top: 6px;
  }