body {
  margin-top: 80px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(6px);
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 1s ease-in-out forwards;
  z-index: 1000;
}

.header.scrolled {
  border-bottom: 0.2px solid #cccccc5b;
  background-color: rgba(255, 255, 255, 0.9); /* Ajuste de transparencia */
}

.logo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 8%;
}

.header .logo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 50rem;
}

.header nav ul li {

  margin: 0 15px;
}

.header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: #0693e3; 
}

.logo-sun{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  margin-right: 2rem;
}

/*Key Frames*/

@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}