*{
  font-family: sans-serif;
  padding:  0;
}

h2{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px
}

hr{
  width: 10%;
  height: 4px;
  border: none;
  background-color: black;

}

.aboutMe{
  margin-top: -5rem;
  display: flex;
  justify-content: center;

}

.about-header{
  text-align: center;
display: inline-block;
}

p{
  display: inline-block;
  margin-bottom: 1rem;
  width: 90%;
}

