/*Nos permite bloquear la pagina principal y hacer un scroll*/
html, body{
  scroll-snap-type: y mandatory;
}

/*Tamaño de la imagen principal*/

.logoPersonal-img{
  width: 10rem;
}

/*Diseño de los contenedores*/

.mainContent {
  margin: 11rem;
  padding: 20px;
  text-align: center;
  text-align: center;
 
}

.mainContent p {
  font-size: 1.2rem;
}

/*Title*/

.title {
  font-size: 3rem;
  font-weight: bold;
}

.title span {
  display: block;
  font-size: 3.5rem;
  margin-top: 10px;
}

.subTitle {
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.subTitle

/*Buttons*/

.button-log {
  margin-top: 20px;
}

.button-log a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 20px;
  margin: 10px;
}

.btn-Primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  border: 1px solid black;
  color: black;
}

.btn-Primary:hover {
  background-color: #3D3D3D;
  border: 1px solid #3D3D3D;
}

.btn-secondary:hover {
  background-color: #E7E7E7;
  border: 1px solid #3D3D3D;
}