/*Nos permite bloquear la pagina principal y hacer un scroll*/
html, body{
  scroll-snap-type: y mandatory;
}

/*Tamaño de la imagen principal*/

.logoPersonal-Video{
  margin-bottom: -8rem;
  width: 35rem;
  margin-left: 1rem;

}

/*Diseño de los contenedores*/

.mainContent {
  margin: 6rem;
  padding: 10px;
  text-align: center;
  text-align: center;
 
}

.mainContent p {
  font-size: 1.2rem;
}

/*Title*/

.title {
  font-size: 4.1rem;
  font-weight: bold;
}



.title span {
  display: block;
  font-size: 4rem;
  margin-top: -5px;
}

.SubTitle {
  font-size: 1.5rem !important;
  color: #666;
  margin-top: -1rem;
}


/*Buttons*/

.button-log {
  margin-top: 20px;
}

.button-log a {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 25px;
  margin: 10px;
  
}

.btn-Primary {
  width: 9rem;
  background-color: black;
  color: white;
  padding: 20px 30px;
}

.ArrowRight{
  width: 1.3rem;
  margin-left: 0.5rem;
  margin-bottom: -0.35rem;
}

.btn-secondary {
  width: 9rem;
  border: 1px solid black;
  margin-left: 2rem;
  color: black;
}

.ArrowDown{
  width: 1.3rem;
  margin-left: 0.7rem;
  margin-bottom: -0.35rem;
}

.btn-Primary:hover {
  background-color: #3D3D3D;
}

.btn-secondary:hover {
  background-color: #E7E7E7;
  border: 1px solid #3D3D3D;
}