/* Your existing CSS */
.main-Skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #efefef7d;
    text-align: center;
  }
  .ContainerSkills {
    text-align: center;
    display: inline-block;
  }
  .Projecttitle {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
  }
  hr {
    width: 20%;
    height: 4px;
    border: none;
    background-color: black;
  }
  .description {
    display: inline-block;
    width: 90%;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #555;
  }

  .Skilss{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* RESPONSIVE DESIGN */

  /* Para tablets */
@media (max-width: 1024px) {
  .Project-title {
      font-size: 2.2rem;
  }

  .description {
      font-size: 1.2rem;
  }

  .Skilss {
      gap: 15px;
  }
}


/* Para Moviles */
@media (max-width: 480px) {
  .Projecttitle {
      font-size: 1.5rem;
  }

  .description {
      font-size: 1rem;
  }

  hr {
      width: 40%;
  }

  .Skilss{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
