.progressSkill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 300px;
    margin: 1rem 10rem;
    margin-bottom: 6rem;
  }

  .infoProgress{
    width: 39rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -0.5rem;
  }
  
  progress {
    width: 40rem;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  progress::-webkit-progress-bar {
    background-color: #c8c8c8;
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background-color: black;
    border-radius: 10px;
  }
  
  .progressLabel {
    margin-top: 5px;
    font-weight: bold;
    color: #333;
  }
  